*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box ;
    text-decoration: none ;
    list-style: none ;
}




///// BARRA NAV /////

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    color: black ;
}

