
  
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box ;
    text-decoration: none ;
    list-style: none ;
}



body{
    font-family: 'Bangers', cursive;
  }

///// BARRA NAV /////

header{
    background-color: #03AD19 ;
}

.carousel-item{
    height: 500px !important;

}
.carousel-item img{
    height: 500px !important;
}
.campeonato{
    text-align: center;
    
}
.carousel-item img{
    height: 15rem;
}

